services:
  db:
    image: pgvector/pgvector:pg18
    container_name: hcs-postgres
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:alpine
    container_name: hcs-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

  web:
    build: ./web
    container_name: holochatstats-web
    env_file:
      - .env
    ports:
      - "80:80"
    volumes:
      - /web/config/config.ini:/app/config.ini
      - /web/config/news.txt:/app/news.txt
    depends_on:
      - db
      - redis
    restart: always

  llm_chat:
    build: ./llm_chat
    container_name: hcs-llm-chat
    env_file:
      - .env
    ports:
      - "8080:8080"         
    depends_on:
      - db
      - redis
      - web
    restart: always
    networks:
      - default

volumes:
  pgdata:
    external: true
    name: root_pgdata
  redis_data:
    external: true
    name: root_redis_data