--extra-index-url https://download.pytorch.org/whl/cpu
flask
flask-babel
flask-cors
Flask-SocketIO
flask-compress
flask-sqlalchemy
sqlalchemy
psycopg2-binary
redis
gunicorn
python-dotenv
werkzeug
pytz
python-dateutil
pandas
numpy
scipy
scikit-learn
networkx
python-igraph
leidenalg
sentence-transformers
requests
apig-wsgi
plotly
gevent
pytest
pytest-cov
eventlet
torch
google-api-python-client>=2.0.0
matplotlib
pgvector
