--extra-index-url https://download.pytorch.org/whl/cpu
Flask
Flask-Babel
Flask-SocketIO
psycopg2
gunicorn
python-dateutil
networkx
scikit-learn
plotly
pandas
google-analytics-data
gevent
pytest
pytest-cov
leidenalg
python-igraph
redis
eventlet
torch
sentence-transformers
